### Python ###
.venv/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


### VSCodium / Visual Studio
.vscode/

### macOS ###
# General
.DS_Store
.localized
__MACOSX/
.AppleDouble
.LSOverride
